<div class="content">
  <mat-card>
    <mat-card-header></mat-card-header>
    <mat-checkbox [(ngModel)]="autocompleteDisabled">Autocomplete disabled</mat-checkbox>
    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
      <div class="fielset">
        <mat-form-field class="col-6">
          <input autocompleteDisabled [isDisabled]="autocompleteDisabled" name="firstName"  matInput placeholder="First Name" type="text" disabled formControlName="firstName">
        </mat-form-field>
        <mat-form-field class="col-6">
          <input autocompleteDisabled [isDisabled]="autocompleteDisabled" name="lastName" matInput placeholder="Last Name" type="text" disabled formControlName="lastName">
        </mat-form-field>
      </div>  
    
    <mat-card-actions align="end" >
      <button  mat-stroked-button type="submit" [disabled]="!profileForm.valid">Save</button>
    </mat-card-actions>
  </form>
  <mat-list>
    <mat-list-item  *ngFor="let person of persons"> {{person.firstName}} {{person.lastName}} </mat-list-item>
  </mat-list>
  </mat-card>

</div>
